@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
 /* CSS RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
    font-family: Anaheim;
}
/* BODY  */
header{
    text-align: center;
    
}
.Email{
    margin: 1rem;
    font-size: 16px;
}

.icon{
    position: absolute;
    
}
.header{
    margin: 1rem;
}
/* FOOTER  */
footer{
    text-align: center;
    font-family: kufam;
    margin: 2rem;
}
footer h4{
 color: #000;
 margin-top: 1rem;

}